{
  "parser": "babel-eslint",
  "extends": [
    "standard",
    "standard-react"
  ],
  "parserOptions": {
    "ecmaFeatures": {
      "legacyDecorators": true
    }
  },
  "rules": {
    "react/prop-types": "off",
    "react/no-did-update-set-state": "off"
  },
  "env": {
    "jest": true
  }
}
