@font-face {
  font-family: 'ClearSans';
  src: local('ClearSans Regular'),
       local('ClearSans-Regular'),
       url('../assets/fonts/ClearSans/ClearSans-Regular.woff2') format('woff2'),
       url('../assets/fonts/ClearSans/ClearSans-Regular.woff') format('woff'),
       url('../assets/fonts/ClearSans/ClearSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* @font-face {
  font-family: 'ClearSans';
  src: local('ClearSans Medium'),
       local('ClearSans-Medium'),
       url('../assets/fonts/ClearSans/ClearSans-Medium.woff2') format('woff2'),
       url('../assets/fonts/ClearSans/ClearSans-Medium.woff') format('woff'),
       url('../assets/fonts/ClearSans/ClearSans-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
} */

@font-face {
  font-family: 'ClearSans';
  src: local('ClearSans Bold'),
       local('ClearSans-Bold'),
       url('../assets/fonts/ClearSans/ClearSans-Bold.woff2') format('woff2'),
       url('../assets/fonts/ClearSans/ClearSans-Bold.woff') format('woff'),
       url('../assets/fonts/ClearSans/ClearSans-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: bold;
}
